@use "../global" as *;

.form__item {
  display: flex;
  flex-direction: column;
  font-size: rem(16);
  line-height: calc(23 / 16);
  @include mq(md) {
    flex-direction: row;
    font-size: rem(24);
    line-height: calc(35 / 24);
  }
}

.form__item span {
  color: $accent-color;
}

.form__item:nth-child(n+2) {
  margin-top: rem(40);
}

.form__item label {
  display: flex;
  align-items: center;
  max-width: rem(216);
  width: 100%;
}

.form__item input,textarea {
  max-width: rem(294);
  width: 100%;
  height: rem(35);
  border: rem(1) solid $accent-color;
  border-top-right-radius: rem(10);
  margin-left: rem(11);
  padding: rem(10);
  @include mq(md) {
    margin-left: rem(54);
    max-width: rem(420);
    height: rem(50);
  }
}

.form__item textarea {
  height: rem(250);
  margin-top: rem(7);
  @include mq(md) {
    height: rem(300);
    margin-top: 0;
  }
}

.contact-btn__wrapper {
  margin-top: rem(38);
  @include mq(md) {
    margin-top: rem(80);
  }
}

.contact-btn {
  padding-right: rem(37);
  padding-left: rem(37);
  @include mq(md) {
    font-size: rem(24);
    line-height: calc(35 / 24);
    padding: rem(13) rem(65) rem(13) rem(66);
  }
}

.form-contact {
  @include mq(md) {
    align-items: start;
  }
}

.form-contact label {
  margin-top: rem(10);
}