@use "../global" as *;

.obsession {
  background-image: url(../img/top/paper.jpg);
  background-size: cover;
}

.top-obsession {
  padding-top: rem(42);
  @include mq(md) {
    padding-top: rem(80);
    padding-bottom: rem(100);
  }
}

.obsession-inner {
  margin-top: rem(20);
  max-width: rem(600);
  @include mq(md) {
    display: flex;
    margin-top: rem(43);
    max-width: $inner + strip-unit($padding-pc) * 2;
  }
}

.obsession-inner picture {
  aspect-ratio: 240 / 160;
  margin-left: auto;
  margin-right: auto;
  max-width: rem(500);
  @include mq(md) {
    aspect-ratio: 1 / 1;
    margin-left: 0;
    margin-right: 0;
    max-width: initial;
  }
}

.obsession-inner img {
  width: 100%;
  height: rem(160);
  object-fit: cover;
  padding: 0 rem(53);
  @include mq(md) {
    padding: 0;
    width: rem(340);
    height: rem(340);
  }
}

.obsession__content-wrapper {
  @include mq(md) {
    margin-left: rem(50);
    padding: rem(40) rem(75) rem(54);
  }
}

.obsession__content-text {
  margin-top: rem(20);
  @include mq(md) {
    margin-top: rem(33);
  }
}